.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #007bff, #00d4ff);
}

.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  background-color: #ffffffee;
}

.login-card h3 {
  font-weight: 600;
}

form label {
  font-weight: 500;
}

button {
  font-weight: 500;
  border-radius: 0.5rem;
}
